In [1]:
#| hide
# Remember "pip install -e ." in the project file
from portfolio_analysis.portfolio import *
from datetime import date

# portfolio-analysis

> A repository to trace an investment portfolio back in time including fees and rebalancing.

This file will become your README and also the index of your documentation.

## Install

```sh
pip install portfolio_analysis
```

## How to use

Let's explore a few different potential portfolios, recommended by various platform, to compared investment ideas assuming we started investing 5 years ago...

In [2]:
monthly_deposits = create_monthly_deposits("01/01/2018",date.today().strftime("%d/%m/%Y"),20000/12)

and that we rebalance monthly for multi-asset portfolios.

In [3]:
rebalance_dates = create_monthly_rebalance_dates("01/01/2018",date.today().strftime("%d/%m/%Y"))

Let's also see how an initial deposit of Â£250,000 would have faired. The compare these to the performances of [MoneyFarm](https://www.moneyfarm.com/uk/portfolios/) and [Nutmeg](https://www.nutmeg.com/fully-managed-portfolios).

In [4]:
initial_deposit  = create_monthly_deposits("01/01/2018","01/02/2018",250000)

### Vanguard Life Strategy 100%
Sources: https://uk.finance.yahoo.com/quote/0P0000TKZO.L?p=0P0000TKZO.L&.tsrc=fin-srch, https://www.vanguardinvestor.co.uk/what-we-offer/all-products

In [5]:
vanguard_life_strategy = Holding('Vanguard LifeStrategy 100%','0P0000TKZO.L',0.22,monthly_deposits)
vanguard_life_strategy.to_returns().profit()

21468.62722728374

In [6]:
vanguard_life_strategy = Holding('Vanguard LifeStrategy 100%','0P0000TKZO.L',0.22+0.15,initial_deposit)
vanguard_life_strategy.to_returns().profit()

105866.92785547086

### Vanguard Global All Cap
Sources: https://finance.yahoo.com/quote/0P00018XAR.L?p=0P00018XAR.L&.tsrc=fin-srch, https://www.vanguardinvestor.co.uk/investments/vanguard-ftse-global-all-cap-index-fund-gbp-acc/overview

In [7]:
vanguard_life_strategy = Holding('Vanguard FTSE Global All Cap Index Fund GBP Acc','0P00018XAR.L',0.23,monthly_deposits)
vanguard_life_strategy.to_returns().profit()

21320.415453727554

In [8]:
vanguard_life_strategy = Holding('Vanguard FTSE Global All Cap Index Fund GBP Acc','0P00018XAR.L',0.23+0.15,initial_deposit)
vanguard_life_strategy.to_returns().profit()

115297.28074612707

### AJ Bell Ready-Made Portfolios
Sources:

In [9]:
aj_bell_adventurous = FixedAllocationPortfolio(["abrdn Global Smaller Companies",
                                                "Artemis Strategic Bond Acc",# Different date?
                                                "Fidelity Global Special Sits Acc",
                                                "Janus Henderson Absolute Return Acc",
                                                "Jupiter UK Special Situations Acc",
                                                "Ninety One UK Alpha Acc",
                                                "Trojan Global Income Acc"],# Different date?
                                               ["0P0000V4D1.L",
                                                "0P00012OVS.L",
                                                "0P0000WUT6.L",
                                                "0P0001HG38.L",
                                                "0P0000K9EK.L",
                                                "0P00012K82.L",
                                                "0P00012OVS.L"],
                                               [0.94,0.59,0.92,1.07,0.76,0.74,0.89],
                                               [0.1,0.08,0.28,0.03,0.08,0.15,0.28],
                                               monthly_deposits)
aj_bell_adventurous_rebalanced = aj_bell_adventurous.rebalance(rebalance_dates)
aj_bell_adventurous_rebalanced.to_returns().profit()

7032.533564851899

In [10]:
aj_bell_adventurous = FixedAllocationPortfolio(["abrdn Global Smaller Companies",
                                                "Artemis Strategic Bond Acc",# Different date?
                                                "Fidelity Global Special Sits Acc",
                                                "Janus Henderson Absolute Return Acc",
                                                "Jupiter UK Special Situations Acc",
                                                "Ninety One UK Alpha Acc",
                                                "Trojan Global Income Acc"],# Different date?
                                               ["0P0000V4D1.L",
                                                "0P00012OVS.L",
                                                "0P0000WUT6.L",
                                                "0P0001HG38.L",
                                                "0P0000K9EK.L",
                                                "0P00012K82.L",
                                                "0P00012OVS.L"],
                                               [0.94,0.59,0.92,1.07,0.76,0.74,0.89],
                                               [0.1,0.08,0.28,0.03,0.08,0.15,0.28],
                                               initial_deposit)
aj_bell_adventurous_rebalanced = aj_bell_adventurous.rebalance(rebalance_dates)
aj_bell_adventurous_rebalanced.to_returns().profit()

40979.44563334679

### Interactive-Investor Portfolios

In [11]:
active_growth = FixedAllocationPortfolio(["Jupiter UK Special Situations Acc",
                                    "Ninety One UK Alpha Acc",
                                    "Scottish Mortgage Ord",
                                    "Fidelity Global Dividend W Acc",
                                    "Fundsmith Equity",
                                    "F&C Investment Trust",
                                    "Vanguard U.S. Equity",
                                    "JPMorgan Emerging Markets",
                                    "Capital Gearing Ord",
                                    "LF Ruffer Diversified",
                                    "abrdn Private Equity Opportunities"],
                                               ["0P0000K9EK.L",
                                                "0P00012K82.L",
                                                "SMT.L",
                                                "0P0000WUT3.L",
                                                "GB00B4Q5X527.L",
                                               "FCIT.L",
                                               "0P0000KSPA.L",
                                               "JMG.L",
                                               "CGT.L",
                                               "0P0001MKQK.L",
                                               "APEO.L"],
                                               [0.76,0.74,0.84,0.91,0.94,0.83,0.1,0.86,0.66,1.12,6.25],
                                               [0.1 , 0.1,0.12, 0.1,0.13, 0.1,0.1,0.05,0.10,0.05,0.05],
                                               monthly_deposits)

active_growth_rebalanced = active_growth.rebalance(rebalance_dates)
active_growth_rebalanced.to_returns().profit()

c:\users\ryan\portfolio-analysis\portfolio_analysis\portfolio.py:57: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  if not deposits.empty and deposits.index[0].date() == self.history.index[0]:
c:\users\ryan\portfolio-analysis\portfolio_analysis\portfolio.py:63: UserWarning: Deposits predate initial date of 2021-09-01 00:00:00 where prices are available for LF Ruffer Diversified. Accumulated deposit of 3666.666666666668 deposited on this date.
  warnings.warn(warn_msg)

nan

In [32]:
active_growth.holdings[4].history.head()

,Open,High,Low,Close,Volume,deposits,cum_deposits,units,cum_units,cum_value,fees
Date,,,,,,,,,,,
2018-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-02-01,NaN,NaN,NaN,NaN,NaN,216.666667,216.666667,NaN,NaN,NaN,NaN
2018-02-02,NaN,NaN,NaN,NaN,NaN,216.666667,433.333333,NaN,NaN,NaN,NaN
2018-02-05,NaN,NaN,NaN,NaN,NaN,216.666667,650.000000,NaN,NaN,NaN,NaN
2018-02-06,NaN,NaN,NaN,NaN,NaN,216.666667,866.666667,NaN,NaN,NaN,NaN

##### Invest Engine Portfolios

### Fidelity Portfolio Recommendations